.d3_stats_chart .legend {
    fill: black;
    font: 14px sans-serif;
    text-anchor: start;
    font-size: 12px;
}

.d3_stats_chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

.d3_stats_chart .label {
    fill: black;
    font: 14px sans-serif;
    text-anchor: end;
}

.d3_stats_chart #loading_placeholder {
    fill: black;
    font: 30px sans-serif;
    text-anchor: start;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: black;
}

g[class*='bar_'] {
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

g[hovered] {
    opacity: 0.2;
}