.d3_stats_chart .legend {
    fill: black;
    font: 14px sans-serif;
    text-anchor: start;
    font-size: 12px;
}

.d3_stats_chart text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: start;
}
.d3_stats_chart .sub_bar {
    fill: white;
    text-anchor: middle;
}

.d3_stats_chart .label {
    fill: black;
    font: 14px sans-serif;
    text-anchor: end;
}

.d3_stats_chart #loading_placeholder {
    fill: black;
    font: 30px sans-serif;
    text-anchor: start;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: black;
}

g[class*='bar_'] {
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

g[fade_out] {
    opacity: 0.2;
}



#tooltip {
    position: absolute;
    z-index: 1000;
    width: 180px;
    height: auto;
    padding: 10px;
    background-color: ghostwhite;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}