a.selected {
    font-weight: bold;
    text-decoration: none;
}

.remove-filter-button {
    position:absolute;
    right:20px;
}

.no-padding {
    padding : 0 0 0 0;
}

.list-style-none li {
    list-style-type: none;
}

.search-menu {
    /*background-color: #E8E8E8;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*border-bottom: 1px solid #c0c0c0;*/
}

.search-menu-right-align{
    /*background-color: #E8E8E8;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*border-bottom: 1px solid #c0c0c0;*/
    text-align: right;
}

.search-menu li {
    display: inline;
}

.search-menu a {
    width: 20px;
}

.search-menu-right-align li {
    display: inline;
}

.search-menu-right-align a {
    width: 20px;
}

/** Paginator styles **/

.col_pager {
    font-weight: normal;
    vertical-align: bottom;
    white-space: nowrap;
    /*background-color: #EEEEEE;*/
    background-color: #bdc5ff;
    font-size: 100%;
    padding: 3px;
    margin-bottom: 1px;

}

.col_pager div {
    /*color: #487676;*/
    /*color: white;*/
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-weight: bold;
}

.col_pager a {
    padding: 2px 3px 0 3px;
    margin: 0 2px;
    /*color: #487676;*/
    /*color: white;*/
    /*color: #4b4a4a;*/
    /*text-shadow: #ddf 1px 1px 0;*/
    /*font-weight: bold;*/

}


.col_pager a:link,
.col_pager a:visited {
}

.col_pager a:hover,
.col_pager a:focus,
.col_pager a:active {
    padding: 2px 3px;
    margin: 0 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-bottom: 0 none;
    background-color: #4b4e6b;
    color: #FFF;
}

.col_pager span {
    padding: 2px 3px;
    margin: 0 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #dbe7ff;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    font-weight: bold;
}


.pr-stats {
    position: relative;
    text-align: center;
    pointer-events: none;
    margin: 0;
}

.pr-pager {
    float: left;
    text-align: left;
}

.pr-page-size {
    float: right;
    text-align: right;
}

.pr-pager,
.pr-page-size {
    width: 33%;
}

/** End of Paginator styles **/

.text-para {
    text-align: justify;
}


/* Table styles (similar to GWT widget table)
*/
thead.fixedHeader tr {
    position: relative
}

html>body thead.fixedHeader tr {
    display: block;
    width: 100%;
}

html>body tbody.scrollContent {
    display: block;
    height: 250px;
    overflow-y: scroll;
    width: 100%;
}

th, td {
    border: 0;
    margin: 0;
}

.summary-table {
    clear:both;
    border: none;
    margin: 0;
    width: 100%;
}

.summary-table th {
    border-bottom: 2px solid #6f7277;
    padding:3px 8px;
    text-align: left;
    color: #4b4a4a;
    text-shadow: #ddf 1px 1px 0;
    overflow: hidden;
    white-space: nowrap
}

.summary-table td {
    padding:3px 5px;

}