<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath:META-INF/spring/app-context.xml
            WEB-INF/spring/mvc-config.xml
        </param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

    <!-- RESTful WS PROXY Configuration -->
    <servlet> <!-- proxy for PRIDE web service calls /pride/ws -->
        <servlet-name>ProxyServletWS</servlet-name>
        <servlet-class>uk.ac.ebi.pride.web.util.servlet.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <!--<param-value>localhost</param-value>-->
            <param-value>wwwdev.ebi.ac.uk</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <!--<param-value>9190</param-value>-->
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/pride/ws</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyServletWS</servlet-name>
        <url-pattern>/pride/ws/*</url-pattern>
    </servlet-mapping>

    <!-- proxy for ebisearch service calls /ebisearch -->
    <servlet>
        <servlet-name>ProxyServletGlobalSearch</servlet-name>
        <servlet-class>uk.ac.ebi.pride.web.util.servlet.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>www.ebi.ac.uk</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/ebisearch</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyServletGlobalSearch</servlet-name>
        <url-pattern>/ebisearch/*</url-pattern>
    </servlet-mapping>

    <!-- proxy for the Proteomes Viewer -->
    <servlet>
        <servlet-name>ProxyServletViewer</servlet-name>
        <servlet-class>uk.ac.ebi.pride.web.util.servlet.proxy.ProxyServlet</servlet-class>
        <init-param>
            <param-name>proxyHost</param-name>
            <param-value>wwwdev.ebi.ac.uk</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPort</param-name>
            <param-value>80</param-value>
        </init-param>
        <init-param>
            <param-name>proxyPath</param-name>
            <param-value>/pride/proteomes/viewer</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyServletViewer</servlet-name>
        <url-pattern>/viewer/*</url-pattern>
    </servlet-mapping>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/spring/mvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


    <!-- Page Filters to apply different WGC template service configurations -->
    <filter>
        <filter-name>homeFrontierTemplateFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>homeFrontierTemplateFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>browseFrontierTemplateFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>browseFrontierTemplateFilter</filter-name>
        <url-pattern>/search/*</url-pattern>
    </filter-mapping>

</web-app>
